* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#wrapper {
    background: linear-gradient(90deg, rgba(77,58,68,1) 0%, rgba(135,86,116,1) 50%, rgba(77,58,68,1) 100%);
    width: 960px;
    margin-top: -17px;
    display: inline-block;
}

#pic {
    width: 400px;
    height: 265px;
    margin-left: 25px;
    margin-top: 19px;
    border: 5px solid lightgrey;
    display: inline-block;
}
#header {
    height:92px;
    margin-top: -14px;
    background: rgb(247, 247, 247);
    display: inline-block;
    
}
h1 {
    width: 200px;
    margin-top: 25px;
    margin-left: 26px;
    
}
h2 {
    width: 400px;
    margin-left: 560px;
    margin-top: -33px;
    font-size: 20px;
}

#about {
    height: 231px;
    width: 482px;
    background: rgb(251,244,247);
    background: linear-gradient(90deg, rgba(251,244,247,1) 0%, rgba(245,209,231,1) 100%);
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 61px;
}
.info {
    margin-left: 9px;
    margin-top: -6px; 
}
#la_mode {
    height: 307px;
    width: 290px;
    background: rgb(251,244,247);
    background: linear-gradient(90deg, rgba(251,244,247,1) 0%, rgba(245,209,231,1) 100%);
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    margin-top: 65px;
}
.modefoot {
    height: 162px;
    width: 290px;
    background: rgb(251,244,247);
    background: linear-gradient(90deg, rgba(251,244,247,1) 0%, rgba(245,209,231,1) 100%);
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    margin-top: 89px;
}

#contacts {
    height: 307px;
    width: 290px;
    background: rgb(251,244,247);
    background: linear-gradient(90deg, rgba(251,244,247,1) 0%, rgba(245,209,231,1) 100%);
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 66px;
}
.contactfoot{
        height: 162px;
        width: 290px;
        background: rgb(251,244,247);
    background: linear-gradient(90deg, rgba(251,244,247,1) 0%, rgba(245,209,231,1) 100%);
        display: inline-block;
        vertical-align: top;
        margin-left: 0px;
        margin-top: 75px;
}
h3 {
    display: inline-block;
    height: 42px;
    width: 282px;
    vertical-align: top;
    margin-left: 0px;
    margin-top: -43px;
    background: rgb(193,191,195);
background: linear-gradient(0deg, rgba(193,191,195,1) 0%, rgba(142,142,142,1) 50%, rgba(193,191,195,1) 100%);
    color: white;
    padding-left: 9px;
    padding-top: 9px;
    font-size: 24px; 
}
h4 {
    display: inline-block;
    height: 34px;
    width: 281px;
    vertical-align: top;
    margin-left: 0px;
    margin-top: -28px;
    background: rgb(193,191,195);
background: linear-gradient(0deg, rgba(193,191,195,1) 0%, rgba(142,142,142,1) 50%, rgba(193,191,195,1) 100%);
    padding-left: 9px;
    padding-top: 9px; 
    font-size: 20px;
    color: white; 
}
.conimg{
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 9px;
}
h5 {
    display: inline-block;
    height: 22px;
    width: 259px;
    vertical-align: top;
    margin-left: 348px;
    margin-top: 0px;
    color: black;
    padding-left: 9px;
    padding-top: 0px; 
    font-size: 14px;
}
h6 {
    display: inline-block;
    height: 33px;
    width: 474px;
    vertical-align: top;
    margin-left: -9px;
    margin-top: -38px;
    background: rgb(193,191,195);
background: linear-gradient(0deg, rgba(193,191,195,1) 0%, rgba(142,142,142,1) 50%, rgba(193,191,195,1) 100%);
    color: white;
    padding-left: 9px;
    padding-top: 9px;
    font-size: 24px; 
}
#fiveeleven {
    height: 307px;
    width: 290px;
    background: rgb(251,244,247);
    background: linear-gradient(90deg, rgba(251,244,247,1) 0%, rgba(245,209,231,1) 100%);
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 67px;
}
.fiveelevenfoot{
    height: 162px;
    width: 290px;
    background: rgb(251,244,247);
    background: linear-gradient(90deg, rgba(251,244,247,1) 0%, rgba(245,209,231,1) 100%);
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    margin-top: 42px;
} 
#footer {
    height: 69px;
    width: 960px;
    background-color: rgb(247, 247, 247);
    
    vertical-align: top;
    margin-left: 0px;
    margin-top: 227px;
}
.footimg{
    margin-left: 285px;
    margin-top: 10px;
    width: 400px;
}
.footimg img{
    display: inline-block;
    max-width: 20px;
    height: 20px;
    padding-left: 0px;
    font-size: 10px;
}


p {
    margin-left: 10px;
    font-size: 13px;
}
a.button {
    display:inline-block;
    padding: 4px 1px;
    width: auto;
    margin-bottom: 5px;
    margin-left: 92px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}
a.button_2 {
    display:inline-block;
    padding: 4px 1px;
    width: auto;
    margin-bottom: 5px;
    margin-left: 92px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}
a.button_3 {
    display:inline-block;
    padding: 4px 1px;
    width: auto;
    margin-bottom: 5px;
    margin-left: 92px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}